html {
    scroll-behavior: smooth;
}

nav {
    background-color: black;
    margin: 0px;
}

.nav-option {
    color: white;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}


.nav-option:hover {
    color: rgb(255, 0, 0);
}

.nav-option:active {
    color: greenyellow;
}

main {
    background-color: bisque;
}

.dish {
    text-decoration: none;
    color: black;

}

div {
    text-align: center;
}

.food-image {
    width: 500px;
    height: 400px;
    margin-top: 20px;
}

div p {
    margin: 0px;

}